@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39');
@import url('https://fonts.googleapis.com/css?family=Jura:300');

b {
  font-family: 'Libre Barcode 39', cursive;
  color: white;
  font-size: 100%;
}

.bottom {
  display: inline-block;
  padding-top: 16%;
}

h1 {
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 110%;
  color: white;
  line-height: 95%;
  padding-left: 8%;
  padding-right: 8%;
}

form {
  position: relative;
  padding: 10%;
}

body {
  background-image: linear-gradient(to bottom, #051937, #0d1a32, #121b2c, #161b27, #1a1c21);
  text-align: center;
  padding: 5%;
  font-size: 72px;
}

#rc-imageselect, .g-recaptcha {
  display: inline-block;
  transform:scale(2.5);
  -webkit-transform:scale(2.5);
}

.button {
  font-family: 'Jura', sans-serif;
  display: inline-block;
  padding: 2.5% 5%;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #444444;
  border: none;
  border-radius: 75px;
  box-shadow: 0 9px #999;
  transition: 0.2s;
}

.button:hover {
  transition: 0.2s;
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button_disabled {
        background: #CCCCCC;
        box-shadow: none;
        outline: none;
        opacity: 0.5;
        text-decoration: none;
        font-family: 'Jura', sans-serif;
        display: inline-block;
        padding: 2.5% 5%;
        font-size: 100%;
        cursor: pointer;
        text-align: center;
        color: #fff;
        border: none;
        border-radius: 75px;
        box-shadow: 0 9px #999;
        transition: 0.2s;
}

.granted {
  position: relative;
  background-image: linear-gradient(to bottom, #20b900, #4ec600, #6fd201, #8cdf08, #a8eb12);
  text-align: center;
  top: 40%;
  bottom: 60%;
}
