@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #142A2C;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(Images/waves.jpg);
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	position: relative;
	top: -22px;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.content h1 {
	font-family: 'Megrim', cursive;
	color: #036A81;
	font-size: 500%;
}

.btn {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #fff 3px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover{
	color: #C1DBE0;
	border: solid #036a81 3px;
}
p {
	font-size: 150%;
	line-height: 210%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
	color: antiquewhite;
}

@media screen and (max-width: 768px) {
	.content {
		position: relative;
		top: -11px;
	}
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
	p {
		font-size: 100%;
		line-height: 160%;
	}
}







.split {
	width: 100%;
	height: 30%;
	margin: auto;
	background: url(Images/Page_Split.png);
	display: table;
	background-size: cover;
}
